* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    270deg,
    rgba(12, 230, 190, 0.69) 0%,
    rgba(244, 208, 63, 0.69) 100%
  );
}

.top-ad img {
  width: 100%;
}

.left-ad img {
  width: 20vw;
  height: 70vh;
}
.right-ad img {
  width: 20vw;
  height: 70vh;
}
.login-content-container {
  margin: auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.login-container {
  width: 50vw;
  /* height: 68vh; */
  display: flex;
  justify-content: center;
}
.register-container{
  width: 50vw;
  /* height: 68vh; */
  display: flex;
  justify-content: center;
}
.login-container div img {
  width: 10vw;
  border-radius: 50%;
}
.company-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  border-right-style: outset;
  margin: 10px;
  width: 65%;
}
.create-acc-container {
  display: flex;
}
.create-acc-container a {
  color: red;
  margin-left: 15px;
}
.login-content {
  flex-grow: 1;
  width: 100%;
  padding-top: 65px;
}
.register-content{
  /* flex-grow: 1; */
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.login-user {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.register-user {
  /* display: flex;
  flex-direction: column; */
  /* margin: 15px; */
}
.login-user label {
  margin-bottom: 10px;
  font-size: 20px;
}
.register-user label {
  margin-bottom: 10px;
  font-size: 20px;
}
.login-user input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]
,button {
  width: 96%;
  height: 35px;
  padding: 5px;
  border-radius: 2px;
  border: none;
  background: rgba(229, 229, 229, 0.36);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}
.register-user input[type="text"],
input[type="password"],
input[type="number"]
,input[type=""]
,
button {
  width: 96%;
  height: 35px;
  padding: 5px;
  border-radius: 2px;
  border: none;
  background: rgba(229, 229, 229, 0.36);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}
.remember-me-checkbox {
  display: flex;
  margin: 15px;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
}
.remember-me-checkbox input[type="checkbox"] {
  margin: 10px;
}
.login-btn:focus {
  outline: none;
  cursor: pointer;
}
.login-btn:active {
  transform: scale(0.98);
}
.login-user input[type="text"]:hover,
input[type="password"]:hover,
.login-btn:hover {
  background-color: #1f121285;
  box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 59%);
  transition: 0.2s;
  border: 1px solid #1d1919;
  color: white;
}
.forget-pw {
  margin: 20px;
  text-align: center;
  /* margin-top: 80px; */
  text-align: end;
  padding-right: 48px;
}
form div a {
  color: red;
}
footer {
  display: flex;
  width: 100%;
  padding-top: 10px;
  border-top: 2px solid black;
  justify-content: space-evenly;
  align-items: center;
}
.footer-img{
margin-left: 150px;
}
.company-profile{
display: flex;
margin-top: 8px;
}
footer {
  font-size: 12px;
}
.company-name{
  /* margin-bottom: 10px;
   */
   font-size: 18px;
}
.footer-company-logo{
  flex-grow: 0.5;
}
.footer-company-logo div span{
  margin-left: 25px;
}
.fas{
  margin-right: 15px;
}