* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    270deg,
    rgba(12, 230, 190, 0.69) 0%,
    rgba(244, 208, 63, 0.69) 100%
  );
  transition: var(--tran-05);
}
:root{
  /* ===== Colors ===== */
  /* --body-color: linear-gradient(
    270deg,
    rgba(12, 230, 190, 0.69) 0%,
    rgba(244, 208, 63, 0.69) 100%
  ); */
  --sidebar-color: rgb(0, 0, 0);
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
.top-ad img {
  width: 100%;
}

.left-ad img {
  width: 20vw;
  height: 70vh;
}
.right-ad img {
  width: 20vw;
  height: 70vh;
}
.login-content-container {
  margin: auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.login-container {
  width: 50vw;
  /* height: 68vh; */
  display: flex;
  justify-content: center;
}
.register-container{
  width: 50vw;
  /* height: 68vh; */
  display: flex;
  justify-content: center;
}
.login-container div img {
  width: 10vw;
  border-radius: 50%;
}
.company-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  border-right-style: outset;
  margin: 10px;
  width: 65%;
}
.create-acc-container {
  display: flex;
}
.create-acc-container a {
  color: red;
  margin-left: 15px;
}
.login-content {
  flex-grow: 1;
  width: 100%;
  padding-top: 65px;
}
.register-content{
  /* flex-grow: 1; */
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.login-user {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.login-user label {
  margin-bottom: 10px;
  font-size: 20px;
}
.register-user label {
  margin-bottom: 10px;
  font-size: 20px;
}
.login-user input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]
,button {
  width: 96%;
  height: 35px;
  padding: 5px;
  border-radius: 2px;
  border: none;
  background: rgba(229, 229, 229, 0.36);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}
.register-user input[type="text"],
input[type="password"],
input[type="number"],
button {
  width: 96%;
  height: 35px;
  padding: 5px;
  border-radius: 2px;
  border: none;
  background: rgba(229, 229, 229, 0.36);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}
.remember-me-checkbox {
  display: flex;
  margin: 15px;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
}
.remember-me-checkbox input[type="checkbox"] {
  margin: 10px;
}
.login-btn:focus {
  outline: none;
  cursor: pointer;
}
.login-btn:active {
  transform: scale(0.98);
}
.login-user input[type="text"]:hover,
input[type="password"]:hover,
.login-btn:hover {
  background-color: #1f121285;
  box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 59%);
  transition: 0.2s;
  border: 1px solid #1d1919;
  color: white;
}
.forget-pw {
  margin: 20px;
  text-align: center;
  /* margin-top: 80px; */
  text-align: end;
  padding-right: 48px;
}
form div a {
  color: red;
}
footer {
  display: flex;
  width: 100%;
  padding-top: 10px;
  border-top: 2px solid black;
  justify-content: space-evenly;
  align-items: center;
}
.footer-img{
margin-left: 150px;
}
.company-profile{
display: flex;
margin-top: 8px;
}
footer {
  font-size: 12px;
}
.company-name{
  /* margin-bottom: 10px;
   */
   font-size: 18px;
}
.footer-company-logo{
  flex-grow: 0.5;
}
.footer-company-logo div span{
  margin-left: 25px;
}
.fas{
  margin-right: 15px;
}


/* layout css ---------------------------------------------------------------------------------*/
/* ===== Sidebar ===== */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 16px 14px;
  background:#897171;
  transition: var(--tran-05);
  z-index: 100;  
}
.sidebar.close{
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon{
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
  color: #1f1212;;
  transition: var(--tran-03);
}

.sidebar .text{
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text{
  opacity: 0;
}
/* =========================== */

.sidebar header{
  position: relative;
}

.sidebar header .image-text{
  display: flex;
  align-items: center;
}
.sidebar header .logo-text{
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession{
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img{
  width: 40px;
  border-radius: 50%;
}
.image{
  text-align: center;
}
.image img{
  width: 50%;
  border-radius: 50%;
}
.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  /* background-color: var(--sidebar-color); */
  color:var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar header .toggle{
  color: black;
}

.sidebar.close .toggle{
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
  margin-top: 14px;
}

.sidebar li.search-box{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a{
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover{
  background-color: #707070;
  color: white;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color:#ddd;
}
/* body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
  color: var(--text-color);
} */

.sidebar .menu-bar{
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
  display: none;
}
.sidebar .menu-bar .mode{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
  height: 50px;
  width: 60px;
}

.mode .sun-moon i{
  position: absolute;
}
.mode .sun-moon i.sun{
  opacity: 0;
}
body.dark .mode .sun-moon i.sun{
  opacity: 1;
}
body.dark .mode .sun-moon i.moon{
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch{
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before{
  left: 20px;
}

.home{
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home{
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}